@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {

    background-color: aliceblue;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8em;
}

.navigation a{
    color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 30px;
}
.navigation a:hover{
color: rgb(3, 188, 255);
}
section {
    padding: 100px 200px;
}
.main{
    width: 100% ;
    color: blue;
    min-width: 100vh;
    display: flex;
    align-items: center;
    background: url(darck.jpg);
    background-size: cover;
    background-position: center;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(204, 204, 212);
    font-size: 4em;
    font-weight: 600;
}
.main h3{
color: blue;
font-size: 2em;
font-weight: 700;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom:30px ;
}
.main-btn{
color: azure;
background-color: #0040f0;
text-decoration: none;
font-size: 1.1em;
font-weight: 600;
display: inline-block ;
padding: 0.9375em 2.1875em;
letter-spacing: 1px;
border-radius: 15px;
margin-bottom: 40px;
transition: 0.7s ease;
}
.main-btn:hover{   
    background-color:rgb(46, 46, 218);
    transform: scale(1.1);
}
.social-icon a{
    color: #0040f0;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 2.2em;
    font-weight:800;
    margin-bottom: 30px;
}
.contant{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: whitesmoke;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scal(1.1);
}
.icon{
    color:blue;
    font-size:8em;
    text-align: center;
}
.info h3{
    color: blue;
    font-size: 1.8em;
    font-weight: 700;
    margin: 10px;

}
.info{
    text-align: center;
}
.projectes{
    background-color: black;
    display: flex;
}
.projcte .contant{
    margin-top: 30px;
    display: flex;
    
}
.projecte-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;   
}
.projecte-card:hover{
    transform: scale(1.1);
}
.projecte-info{
    padding: 1em;
}
.projecte-category{
    font-size: 2em;
}
.projecte-title{
    justify-content: space-between;
    display: flex;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-detales{
    text-decoration: none;
    color: blue;

}
.more-detales:hover{
    color: blueviolet;
}
.contact{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}